body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    color: rgb(40, 40, 40);

}

h2 {
 
    letter-spacing: -.3px;
    line-height: 120%;
    margin: 4px 0 20px;

}
h4 {

    line-height: 120%;
    margin: 0px 0 4px;
    /* white-space: nowrap;           Prevents the text from wrapping to the next line */
    overflow: hidden;              /* Ensures that content outside the container is hidden */
    text-overflow: ellipsis;       /* Adds an ellipsis (...) at the end of the truncated text */
    /* width: 200px; */

}
h5{
    margin: 0;
    font-weight: 500;
    color: rgb(127, 127, 127)
}

.modal{
    border: none;
    margin: none;
    background-color: rgba(0, 0, 0, 0.132);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}
.logo-text{
    margin: 0;
    letter-spacing: -.25px;
    font-size: large;
}
form {
    min-width: 280px;
    padding: 20px; 
    display: flex; 
    padding: 24px !important; 
    flex-direction: column; 
    max-width: 250px;
}

.padding-20{
    padding: 24px !important;
}

.header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0 32px;
    border-bottom: 1px solid rgb(231, 231, 231);
}
.icon-h1{
    display: flex;
    gap: 12px;
    align-items: center;
}
.card {
    background-color: white;
    padding:16px;
    border: 1px, solid, rgb(254, 254, 254);
    border-radius: 12px;
    /* box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1), /* Soft shadow */
                /* 0 1px 3px rgba(0, 0, 0, 0.08); Inner shadow */ 

}
.card-cover{
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size:contain;
    height: 153px;
    width: 100px;
    border-radius: 5px;
    position: relative;

    background-color: rgb(235, 235, 235);
    flex-shrink: 0;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1), 
                0 1px 3px rgba(0, 0, 0, 0.08);
}
.tag{
    position: absolute;
    left: 8px;
    top: 8px;
    padding: 4px 8px;
    border-radius: 5px !important;
    background-color: white;
    font-size: x-small;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: .3px;
    font-weight: 300;
    cursor: pointer;
    user-select: none;
}
.bookRead{
    background-color: rgb(53, 78, 53) !important;
    color: white;
}

.book{
    display: flex;
    flex-direction: row !important;
    gap: 20px;
    padding: 0 !important;

}

.flex-h{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;
}
.flex-v{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;
}

fieldset {

    border: none;
    padding: 0px; !important
    margin:  0px; !important
}

label, legend {

    margin: 0 0 8px 0;
    font-size: small;
    color: rgb(54, 54, 54);
}

input {

    border: 1px, solid, rgb(234, 234, 234);
    background-color: rgb(249, 249, 249);
    padding: 10px;
    border-radius: 8px;
}

input:hover{
    border: 1px, solid, rgb(194, 194, 194);
    background-color: rgb(249, 249, 249);
}

button {

    margin: 16px 0 0 0;
    padding: 12px;
    border-radius: 8px;
    border: 0;
    color: white;
    background-color: rgb(44, 44, 44);
    transition: background-color 100ms ease-in-out;
    
}

button:hover{

    background-color: rgb(71, 71, 71);
}

.deleteBtn{
    background-color: rgb(242, 242, 242);
    padding: 8px;
    height: auto;
    display: flex;
    color: rgb(135, 135, 135);
}
.deleteBtn:hover{
    background-color: rgb(255, 210, 210);
    color: rgb(165, 0, 0);
}
.closeBtn{
    margin: 0;
    width: 36px;
    background-color: rgb(244, 244, 244);
    padding: 8px;
    height: auto;
    display: flex;
    color: rgb(135, 135, 135);
}
.closeBtn:hover{
    background-color: rgb(233, 233, 233);
}

.container {

    height: 100vh;
    width: 90%;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
    gap: 36px;
    

}

#yourBooks{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 16px;
}



